.grid-layout {
    display: grid;
    grid-template-columns: 100px 100px;
    margin-bottom: 30px;
}
.div-1 {
    background-color: lightblue;
}
.div-2 {
    background-color: lightcoral;
}

.div-3 {
    background-color: plum;
}

.grids-practice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    column-gap: 20px;
    row-gap: 40px;
}

